.wrapper {
    --spacing: 30px;
    --columns: 6;

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px var(--spacing);
    border-radius: 20px;
    background-color: #f2f7fa;
}

.header {
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.employee-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}

.employee-item {
    min-width: calc((100% / var(--columns)) - var(--spacing));
    padding: 6px;
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 7px;
}

.item-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.status {
    padding: 0 5px;
    border: 1px solid #a8e0cd;
    border-radius: 10px;
    background-color: #cdf3e6;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 999px;
    object-fit: cover;
}

.name {
    margin-top: 5px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
}

.position {
    font-size: 1.5rem;
    font-weight: 600;
    color: #c5cbd5;
}

.desc {
    margin-top: 6px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ebeff2;
    background-color: #f2f8fd;
}

.desc-top {
    display: flex;
    justify-content: space-between;
}

.department {
    display: flex;
    flex-direction: column;

    span:nth-child(2) {
        font-size: 1.4rem;
    }
}

.title {
    font-weight: 600;
    color: #7f8387;
}

.hired-date {
    display: flex;
    flex-direction: column;

    span:nth-child(2) {
        font-size: 1.4rem;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.email,
.phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
