.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--box-shadow-lg);
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 46px;
    padding: 0 14px;
    background-color: var(--gray-alpha-10);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-action-btn {
    display: flex;
    align-items: center;
}

.delete-btn,
.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 2px;
    font-size: 1.6rem;
    border-radius: 999px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: 20px;
}

.title {
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.title-ipt {
    padding-bottom: 6px;
    width: 95%;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--black-alpha-80);
    border-bottom: 1px solid var(--gray-alpha-40);

    &:focus ~ .label {
        transform: translateY(-22px);
        font-size: 1.6rem;
        color: var(--red);
    }

    &:focus ~ .underline-title-ipt::before {
        transform: scaleX(1);
    }

    &:valid ~ .label {
        transform: translateY(-22px);
        font-size: 1.6rem;
        color: var(--black-alpha-80);
    }

    &:valid ~ .underline-title-ipt::before {
        background-color: var(--blue);
        transform: scaleX(1);
    }
}

.underline-title-ipt {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 95%;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--red);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }
}

.label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.8rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.type-btn {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    margin-left: 40px;
}

.event-btn,
.task-btn {
    padding: 10px 12px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-alpha-80);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.active {
    color: var(--blue);
    background-color: var(--skyBlue-alpha-20);

    &:hover {
        background-color: var(--skyBlue-alpha-40);
    }
}
