.wrapper {
    display: flex;
}

.container {
    display: flex;
    gap: 5px;
    align-items: center;
    // border-radius: 50px;
    // box-shadow: 0 0.3px 0.6px rgba(0, 0, 0, 0.056), 0 0.7px 1.3px rgba(0, 0, 0, 0.081), 0 1.3px 2.5px rgba(0, 0, 0, 0.1),
    //     0 2.2px 4.5px rgba(0, 0, 0, 0.119), 0 4.2px 8.4px rgba(0, 0, 0, 0.144), 0 10px 20px rgba(0, 0, 0, 0.2);
    // background-color: #ffffff;
}

.prev-btn,
.next-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 7px;
    border-radius: 7px;
    font-size: 1.6rem;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 216, 49, 0.3);
    }
}

.page-number {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    button {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1;
        transition: 0.2s;
        cursor: pointer;
    }

    &:hover {
        background-color: rgba(255, 216, 49, 0.3);
    }
}

.active {
    background-color: rgb(255, 216, 49);
    pointer-events: none;
}

.opacity {
    opacity: 0.4;
    pointer-events: none;
}
