.wrapper {
    display: flex;
    flex-direction: column;
}

.category {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.type-btn {
    padding: 6px 10px;
    font-size: 1.6rem;
    border: 1px solid var(--blue-alpha-40);
    border-radius: 4px;
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.calendar-container {
    position: relative;
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 36px;
}

.calendar {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    font-size: 1.8rem;
    margin-right: 16px;
}

.calendar-time {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-alpha-60);
    padding: 6px;
    border-radius: 4px;
    width: 110px;
    pointer-events: none;
}

.time {
    position: relative;
    margin: auto 0;

    &:hover .time-list {
        opacity: 1;
        visibility: visible;
    }
}

.time-select {
    font-size: 1.6rem;
    text-align: center;
    color: var(--black-alpha-60);
    padding: 2px 6px;
    border-radius: 4px;
    width: 8.5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.time-list {
    position: absolute;
    height: 30rem;
    top: 105%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border: 0.5px solid var(--gray-alpha-10);
    border-radius: 0 0 4px 4px;
    overflow: overlay;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    z-index: 100;
}

.time-item {
    padding: 6px;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.separate {
    margin: auto 2px;
}

.add-time-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 6px 10px;
    border: 1px solid var(--gray-alpha-40);
    border-radius: 6px;
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.note {
    display: flex;
    align-items: flex-start;
    margin-top: 16px;
}

.desc {
    position: relative;
    width: 100%;
}

.textarea {
    width: 100%;
    min-height: 96px;
    padding: 8px;
    font-size: 1.6rem;
    background-color: var(--gray-alpha-10);
    border: none;
    outline: none;
    border-radius: 6px;
    resize: none;

    &:focus ~ .underline-desc::before {
        transform: scaleX(1);
    }
}

.underline-desc {
    position: absolute;
    bottom: 6px;
    left: 0;
    height: 2px;
    width: 100%;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }
}

.tag-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.tag {
    position: relative;

    &:hover .tag-list {
        opacity: 1;
        visibility: visible;
    }
}

.tag-select {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 10px;
    border: 1px solid var(--gray-alpha-40);
    border-radius: 6px;
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.tag-list {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 195px;
    top: 110%;
    left: 0;
    padding: 6px;
    border: 1px solid var(--gray-alpha-20);
    border-radius: 6px;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s linear, visibility 0.1s linear;
    z-index: 100;
}

.tag-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 3rem;
    border-radius: 999px;
    cursor: pointer;

    &:hover {
        border: 3px solid var(--black-alpha-20);
    }
}

.action-btn {
    display: flex;
    justify-content: flex-end;
    // margin-top: 16px;
}

.save-btn,
.cancel-btn {
    padding: 10px 18px;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn {
    color: var(--black-alpha-60);
    background-color: transparent;
    margin-right: 4px;

    &:hover {
        color: var(--black);
    }
}
