.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 20px;
    margin-left: 20px;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 10px;

    button {
        position: relative;
        padding: 15px;
        height: 100%;
        width: fit-content;
        font-size: 1.8rem;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            height: 3px;
            width: 0;
            background-color: var(--blue);
            border-radius: 5px;
            z-index: 2;
            transition: 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: var(--gray-alpha-20);
        border-radius: 5px;
        z-index: 1;
    }
}

.sub-menu {
    display: flex;
    gap: 15px;

    button {
        font-size: 1.8rem;
    }
}

.employee-table {
    width: 90%;
    border-spacing: 1px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid var(--black-alpha-20);
    border-radius: 5px;

    tr:nth-child(even) {
        background-color: var(--skyBlue-alpha-20);
        transition: background-color ease-in-out 100ms;
    }

    tr:hover {
        background-color: var(--skyBlue-alpha-60);
    }

    th {
        background-color: var(--gray-alpha-20);
        padding: 8px;
        pointer-events: none;
        border-bottom: 0.5px solid var(--black);
    }

    td {
        padding: 5px 0 5px 8px;
    }
}

.id {
    font-weight: 600;
    color: var(--blue);
}

.name {
    display: flex;
    align-items: center;
    gap: 5px;

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        object-fit: cover;
    }
}

.status {
    position: relative;

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.active {
    color: green;
}

.notActive {
    color: red;
}

.seniority {
    font-weight: 600;

    span {
        color: var(--black-alpha-40);
    }
}
