.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    input[type='checkbox'] {
        position: relative;
        width: 50px;
        height: 25px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        background-color: var(--gray-alpha-20);
        border-radius: 20px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        cursor: pointer;
    }

    input:checked[type='checkbox'] {
        background-color: var(--blue-alpha-80);
    }

    input[type='checkbox']:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--white);
        transform: scale(1.1);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        transition: 0.3s;
    }

    input:checked[type='checkbox']:before {
        left: 25px;
    }
}
