.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    padding: 0 14px;
    background-color: var(--gray-alpha-10);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.type {
    font-size: 2.2rem;
    font-weight: 600;
}

.header-action-btn {
    display: flex;
    align-items: center;
}

.edit-btn,
.delete-btn,
.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 2px;
    font-size: 1.6rem;
    border-radius: 999px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.calendar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    display: flex;
    font-size: 1.8rem;
    margin-right: 16px;
}

.note {
    display: flex;
    align-items: flex-start;
}

.footer {
    display: flex;
    justify-content: end;
    border-top: 1px solid var(--gray-alpha-20);
}

.mark-btn {
    font-size: 1.6rem;
    margin: 8px 16px;
    padding: 4px 10px;
    color: var(--black);
    background-color: rgba($color: green, $alpha: 0.1);
    border: 1px solid green;
    border-radius: 4px;
    cursor: pointer;
}

.uncompleted {
    background-color: rgba($color: red, $alpha: 0.1);
    border: 1px solid red;
}
