@import 'normalize.css';

:root {
    --background: #fafbff;
    --white: #ffffff;
    --red: #e41e3f;
    --text-primary: #161823;
    --text-secondary: #666666;
    --primary: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    --secondary-button-background: #e4e6eb;
    --input-outline: #dedfe1;
    --primary-button-background: #ff6a00;

    --blue: #015ec2;
    --blue-alpha-90: rgba(1, 94, 194, 0.9);
    --blue-alpha-80: rgba(1, 94, 194, 0.8);
    --blue-alpha-60: rgba(1, 94, 194, 0.6);
    --blue-alpha-40: rgba(1, 94, 194, 0.4);
    --blue-alpha-20: rgba(1, 94, 194, 0.2);
    --blue-alpha-05: rgba(1, 94, 194, 0.05);

    --orangeRed: #ff543d;
    --orangeRed-alpha-80: rgba(255, 84, 61, 0.8);
    --orangeRed-alpha-60: rgba(255, 84, 61, 0.6);
    --orangeRed-alpha-40: rgba(255, 84, 61, 0.4);
    --orangeRed-alpha-20: rgba(255, 84, 61, 0.2);

    --mediumSlateBlue: #878cff;
    --mediumSlateBlue-alpha-80: rgba(135, 140, 255, 0.8);
    --mediumSlateBlue-alpha-60: rgba(135, 140, 255, 0.6);
    --mediumSlateBlue-alpha-40: rgba(135, 140, 255, 0.4);
    --mediumSlateBlue-alpha-20: rgba(135, 140, 255, 0.2);

    --orange: #ffaf4e;
    --orange-alpha-80: rgba(255, 175, 78, 0.8);
    --orange-alpha-60: rgba(255, 175, 78, 0.6);
    --orange-alpha-40: rgba(255, 175, 78, 0.4);
    --orange-alpha-20: rgba(255, 175, 78, 0.2);

    --skyBlue: #a4cde3;
    --skyBlue-alpha-80: rgba(164, 205, 227, 0.8);
    --skyBlue-alpha-60: rgba(164, 205, 227, 0.6);
    --skyBlue-alpha-40: rgba(164, 205, 227, 0.4);
    --skyBlue-alpha-20: rgba(164, 205, 227, 0.2);

    --black: #141416;
    --black-alpha-80: rgba(20, 20, 22, 0.8);
    --black-alpha-60: rgba(20, 20, 22, 0.6);
    --black-alpha-40: rgba(20, 20, 22, 0.4);
    --black-alpha-20: rgba(20, 20, 22, 0.2);

    --gray: #8e94a3;
    --gray-alpha-80: rgba(142, 148, 163, 0.8);
    --gray-alpha-60: rgba(142, 148, 163, 0.6);
    --gray-alpha-40: rgba(142, 148, 163, 0.4);
    --gray-alpha-20: rgba(142, 148, 163, 0.2);
    --gray-alpha-10: rgba(142, 148, 163, 0.1);

    --yellow: #ffd166;
    --yellow-alpha-80: #ffda85;
    --yellow-alpha-60: #ffe3a3;
    --yellow-alpha-40: #ffedc2;
    --yellow-alpha-20: #fff6e0;

    // DefaultLayout
    --default-layout-header-height: 70px;
    --default-background-color: rgb(1, 94, 194);
    --main-overlay-color: rgba(255, 255, 255, 0.91);

    //Font
    --font-family: 'ProximaNova', sans-serif;

    //Shadow
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);

    //Calendar tag color
    --radicchio-rgb: 204, 166, 172;
    --tangerine-rgb: 250, 87, 60;
    --citron-rgb: 251, 233, 131;
    --basil-rgb: 22, 167, 101;
    --blueBerry-rgb: 73, 134, 231;
    --grape-rgb: 205, 116, 230;
    --cherryBlossom-rgb: 246, 145, 178;
    --pumpkin-rgb: 255, 117, 55;
    --avocado-rgb: 179, 220, 108;
    --eucalyptus-rgb: 66, 214, 146;
    --lavender-rgb: 154, 156, 255;
    --cocoa-rgb: 172, 114, 94;
    --tomato-rgb: 248, 58, 34;
    --mango-rgb: 255, 173, 70;
    --pistachio-rgb: 123, 209, 72;
    --peacock-rgb: 159, 225, 231;
    --wisteria-rgb: 185, 154, 255;
    --graphite-rgb: 194, 194, 194;
    --flamingo-rgb: 208, 107, 100;
    --banana-rgb: 250, 209, 101;
    --sage-rgb: 146, 225, 192;
    --cobalt-rgb: 159, 198, 231;
    --amethyst-rgb: 164, 122, 226;
    --birch-rgb: 202, 189, 191;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: var(--font-family);
    background-color: transparent;
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-primary);
    overflow-y: overlay;
}

//Custom Tippy UI
body {
    .tippy-box {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.2rem;
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

//Custom input-input-emoji
body {
    .react-emoji-picker--wrapper {
        border-radius: 5px;
        height: 360px;
    }
    .react-emoji {
        width: 88%;
    }

    .react-input-emoji--input {
        max-height: 55px;
        margin: 5px 0;
        font-size: 1.6rem;
        overflow: overlay;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .emoji-mart-scroll {
        overflow: overlay;
    }

    .react-input-emoji--input::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }

    .emoji-mart.emoji-mart-dark {
        width: auto !important;
    }
}
