.wrapper {
    padding: 6px;
    border: 1px solid var(--gray-alpha-40);
    border-radius: 6px;
}

.picture {
    width: 100%;
    max-height: 220px;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: 4px;
    box-shadow: var(--box-shadow);
    border: 0.5px solid var(--gray-alpha-10);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    font-weight: 700;
    padding: 0 6px;
    border: 1px solid var(--gray-alpha-40);
    border-radius: 6px;
}

.date {
    color: var(--black);
    font-size: 1.3rem;
    padding: 0 6px;
    border-radius: 4px;
    background-color: var(--gray-alpha-10);
}

.title {
    font-size: 1.9rem;
    font-weight: 700;
}

.desc {
    font-size: 1.4rem;
}
