.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 30px;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
}

.filter {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 20px;
    border-radius: 10px;
    background-color: var(--white);
    color: #7f8387;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search,
.download,
.printer,
.menu {
    display: flex;
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.search {
}

.menu {
}

.download {
}

.printer {
}

.add-employee {
    display: flex;
    font-size: 1.6rem;
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
}
