.wrapper {
    display: flex;
    flex-direction: column;
}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to top, #a5a7a9 5%, #f0f2f5 20%);
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.add-banner-btn {
    position: absolute;
    right: 20px;
    bottom: 15px;
    background-color: transparent;

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 170px;
        height: 36px;
        padding: 0 12px;
        gap: 5px;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
        background-color: var(--white);

        &:hover {
            background-color: rgba(240, 242, 245, 1);
        }
    }

    .icon-change-banner {
        font-size: 1.8rem;
    }
}

.banner-btn {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: -60px;
    gap: 5px;
    z-index: 2;
}

.header {
    position: relative;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 130px;
}

.avatar {
    position: relative;
    width: 176px;
    height: 150px;

    .user-avatar {
        position: absolute;
        width: 176px;
        height: 176px;
        top: -50px;
        left: 0;
        border: 3px solid var(--white);
        border-radius: 999px;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }

    .icon-camera {
        position: absolute;
        right: 10px;
        bottom: 25%;
        width: 35px;
        height: 35px;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0px 1px 6px rgb(0 0 0 / 15%);
        cursor: pointer;

        &:hover {
            background-color: rgba(240, 242, 245, 1);
        }
    }
}

.avatar-btn {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    gap: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.username {
    font-size: 3.2rem;
    font-weight: 700;
}

.position {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-secondary);
}

.hashtag {
    color: var(--text-secondary);
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin: 40px 0;
    padding: 12px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 15%);
    border-radius: 20px;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heading {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-person {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border-radius: 6px;
    color: var(--default-background-color);
    background-color: var(--skyBlue-alpha-40);
}

.title {
    h6 {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--black-alpha-80);
    }

    p {
        font-size: 1.5rem;
        color: var(--gray);
    }
}

.edit-profile-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 4px 8px;
    color: var(--default-background-color);
    cursor: pointer;

    &:hover {
        color: var(--blue-alpha-80);
    }
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.about-item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 8px;
    padding: 8px 16px;
    min-width: calc(100% / 3 - 16px);
    border-radius: 10px;

    &:hover {
        background-color: var(--skyBlue-alpha-20);
    }
}

.icon {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--default-background-color);
}

.label {
    font-weight: 600;
    color: var(--gray);
}
