.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-overlay-color);
    backdrop-filter: saturate(120%) blur(10px);
}

.container {
    display: flex;
    height: calc(100vh - var(--default-layout-header-height));
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    height: calc(100vh - var(--default-layout-header-height));
    background-color: var(--white);
    box-shadow: 0px 1px 6px rgb(0 0 0 / 15%);
    border-top-left-radius: 5px;
    overflow: overlay;
}
