//Menu wrapper
.menu-items {
    width: auto;
    padding: 8px 0;
    margin: -6px -6px 0 0;
}

//Menu item
.menu-item {
    display: flex;
    align-items: center;
    min-width: 225px;
    padding: 10px 16px;
    gap: 10px;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//View profile
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    margin: 0px 8px 12px 8px;
    padding: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

    .menu-item {
        height: 35px;

        &:hover {
            border-radius: 5px;
        }
    }
}

.view-profile {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 8px;
    gap: 8px;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 85%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-radius: 5px;
    }
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 999px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
}

.position {
    font-size: 12px;
}
