.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 100vh;
    padding: 0 20px;
    background-color: var(--white);
    overflow: overlay;
    z-index: 100;
}

.header {
    position: relative;
    padding: 15px 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--black-alpha-80);
}

.icon-close {
    cursor: pointer;
}

.desc {
    font-size: 1.8rem;
    color: var(--black-alpha-60);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    input[type='radio'] {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.title {
    position: relative;
    padding-top: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-alpha-60);

    &::after {
        position: absolute;
        content: '';
        left: 50%;
        top: 0;
        height: 1px;
        width: 95%;
        transform: translateX(-50%);
        background-color: var(--gray-alpha-40);
    }
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 10px;
    color: var(--black-alpha-60);

    label {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 5px;
        color: var(--gray);
    }
}

.color-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.color {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 6px;
    border-radius: 6px;
    background-color: var(--orange);
    cursor: pointer;

    &::after {
        position: absolute;
        content: '';
        top: -3px;
        left: -3px;
        width: 35px;
        height: 35px;
        border: 0.5px solid var(--skyBlue);
        border-radius: 6px;
    }
}
