.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: var(--black-alpha-20);
}
