.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    // max-height: min((100vh - 96px) - 60px, 734px);
    padding: 8px 0 5px 0;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
}
