.wrapper {
    --layout-header-height: 60px;

    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--default-layout-header-height));
    overflow: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--layout-header-height);
}

.header-left {
    display: flex;
    align-items: center;

    h1 {
        font-size: 3rem;
        color: var(--black-alpha-80);
        margin: 8px;
    }
}

.header-center {
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
        color: var(--black-alpha-80);
        width: 145px;
        text-align: center;
    }
}

.icon-prev,
.icon-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
    }
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 40px;
    padding: 6px 10px;
    color: var(--black-alpha-80);
    border: 1px solid var(--gray-alpha-40);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }

    .icon-down {
        margin-left: 6px;
        font-size: 1.2rem;
        color: var(--gray);
    }
}

.today-btn {
    margin: 0 18px;
    padding: 6px 12px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-alpha-60);
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 15%);
    cursor: pointer;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
}

.sidebar {
    width: 250px;
    overflow: auto;
}

.create-calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 90%;
    padding: 12px 16px;
    margin: 12px auto;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    color: var(--white);
    background-color: var(--default-background-color);
    box-shadow: 0px 1px 6px rgb(0 0 0 / 40%);
    opacity: 0.9;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height) - var(--layout-header-height));
    overflow: overlay;
    background-color: var(--blue-alpha-05);
}

.row-day {
    display: flex;
    flex-direction: column;
    border: 0.5px solid var(--gray-alpha-20);
}

.day-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-alpha-80);
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
    }
}

.today {
    background-color: var(--blue-alpha-90);
    color: white;
    border-radius: 50%;
    opacity: 1;

    &:hover {
        background-color: var(--blue);
    }
}

.day-of-current-month {
    opacity: 1;
}

.note-schedule {
    display: flex;
    flex-direction: column;
    padding: 0 2px;
}

.event {
    position: relative;
    padding: 4px 0 4px 6px;
    margin-bottom: 2px;
    // background-color: rgba($color: var(--grape-rgb), $alpha: 0.3);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

    &:hover {
        box-shadow: var(--box-shadow);
    }

    p {
        width: 15rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.tag {
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    // background-color: rgba($color: var(--grape-rgb), $alpha: 1);
}
