.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: silver;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px 10px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
        font-size: 6rem;
        background-image: var(--primary);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-background-clip: transparent;
    }
}

.logo {
    width: 100px;
    height: 100px;
}

h6 {
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-top: 20px;
    gap: 15px;

    h3 {
        margin-bottom: 15px;
        text-align: center;
        font-size: 3rem;
    }
}

.username {
    display: flex;
    gap: 10px;
}

.firstname,
.lastname,
.email,
.password {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px solid var(--gray);

    input {
        flex: 1;
        height: 100%;
        font-family: var(--font-family);
        font-size: 1.6rem;
        color: var(--black);
    }

    &:focus-within {
        border: 1px solid var(--blue);
    }
}

.icon {
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.register-btn {
    height: 40px;
    width: 180px;
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: 700;
    align-self: center;
    border-radius: 8px;
    color: #fff;
    background-image: var(--primary);
    cursor: pointer;
}
