.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--default-layout-header-height);
    padding: 8px 0;
    // box-shadow: 10px 10px 10px rgb(255 255 255);
    z-index: 10;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 1%,
        rgba(255, 255, 255, 0.95) 45%,
        rgb(255, 255, 255) 100%
    );
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 12px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    width: 35px;
    height: 35px;
    padding: 5px;
    color: var(--text-secondary);
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;

    h1 {
        background-image: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-background-clip: transparent;
    }
}

//Actions
.header-right {
    display: flex;
    align-items: center;
}

.more-icon {
    color: var(--gray-alpha-60);
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-btn {
    position: relative;
    display: flex;
    background-color: transparent;
    padding: 0 10px;
    cursor: pointer;
}

.icon {
    width: 18px;
    height: 18px;
}

.badge {
    position: absolute;
    top: -5px;
    right: 2px;
    height: 8px;
    width: 8px;
    border-radius: 999px;
    background-color: var(--red);
}

.user-avatar {
    width: 35px;
    height: 35px;
    margin: 0 5px 0 15px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
