.chat-content {
    flex: 1;
    margin-left: 10px;
    height: 100%;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 25%);

    .avatar {
        width: 48px;
        height: 48px;
        border-radius: 999px;
        object-fit: cover;
    }

    .info {
        margin-left: 20px;
    }

    .name {
        font-size: 2rem;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 74px - 10px);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 25%);
    background-image: url('https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGNoYXQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1280&q=900');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: overlay;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.message,
.message-own {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    width: fit-content;
    background-color: var(--skyBlue-alpha-80);
    padding: 7px;
    border-radius: 10px 10px 10px 0;
    gap: 5px;
}

.message-own {
    align-self: end;
    border-radius: 10px 10px 0 10px;
    background-color: var(--white);
}

.chat-time {
    font-size: 1rem;
    color: ver(--text-primary);
    align-self: flex-end;
}

.chat-content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--white);
}

.icon-plus,
.icon-send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.icon-plus {
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 10px;
}

.icon-send {
    margin-left: -10px;
    color: #858585;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        border-radius: 10px;
    }
}

//No chat content
.welcome {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5rem;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        // animation: imgRotate 20s linear infinite;
    }

    // @keyframes imgRotate {
    //     to {
    //         transform: rotate(360deg);
    //     }
    // }

    h1 {
        font-size: 8rem;
        background-image: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-background-clip: transparent;
    }
}
