.wrapper {
    display: flex;
    flex-direction: column;
}

.calendar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    margin-top: 16px;
}

.icon {
    display: flex;
    font-size: 1.8rem;
    margin-right: 16px;
}

.calendar-time {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-alpha-60);
    padding: 6px 8px;
    border-radius: 4px;
    width: 115px;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.time {
    font-size: 1.6rem;
    margin-left: 2px;
    color: var(--black-alpha-60);
    padding: 6px 8px;
    border-radius: 4px;
    width: 80px;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.add-time-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 6px 10px;
    border: 1px solid var(--gray-alpha-40);
    border-radius: 6px;
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.note {
    display: flex;
    align-items: flex-start;
    margin-top: 16px;
}

.desc {
    position: relative;
    width: 100%;
}

.textarea {
    width: 100%;
    min-height: 96px;
    padding: 8px;
    font-size: 1.6rem;
    background-color: var(--gray-alpha-10);
    border: none;
    outline: none;
    border-radius: 6px;
    resize: none;

    &:focus ~ .underline-desc::before {
        transform: scaleX(1);
    }
}

.underline-desc {
    position: absolute;
    bottom: 6px;
    left: 0;
    height: 2px;
    width: 100%;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }
}

.tag {
    display: flex;
    margin-top: 16px;
}

.tag-option {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 10px;
    border: 1px solid var(--gray-alpha-40);
    border-radius: 6px;
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.action-btn {
    display: flex;
    justify-content: flex-end;
    // margin-top: 16px;
}

.save-btn {
    padding: 10px 18px;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 6px;
    cursor: pointer;
}
