.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.92);
}

.logo {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
}

.title {
    font-size: 2.2rem;
    font-weight: 600;
}

.sub-title {
    margin-bottom: 2rem;
}

.icon {
    font-size: 3rem;
    color: var(--blue);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
