.avatar {
    width: 48px;
    height: 48px;
    border-radius: 999px;
    object-fit: cover;
}

.info {
    margin-left: 10px;
}

.name {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-alpha-80);
}
