.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.sidebar {
    width: 340px;
    height: 100%;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 25%);
}

.search {
    position: relative;
    height: 46px;
    margin: 10px 2rem;
    border-radius: 6px;
    background-color: var(--white);

    &::after {
        position: absolute;
        content: '';
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 95%;
        background-color: var(--gray-alpha-20);
    }
}

.label {
    width: 100%;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-alpha-80);
}

.message-list {
    height: calc(100% - 47px - 66px);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
        overflow: overlay;
    }
}

.item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--skyBlue-alpha-20);
    }
}

.last-message {
    width: 23rem;
    font-size: 1.4rem;
    color: var(--black-alpha-60);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    flex: 1;
    margin-left: 10px;
    height: calc(100% - 74px - 10px);
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 25%);
}
