.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    color: #7f8387;
  }

  select {
    width: 50px;
    height: 25px;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
  }
}