.wrapper {
    position: relative;
    left: 0;
    width: 240px;
    transition: all 0.3s linear;
}

.hide {
    left: -240px;
    width: 0;
}

.item {
    position: relative;
    display: block;
    padding: 10px;
    margin: 5px 10px 5px 5px;
    border-radius: 5px;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--white);
        color: var(--default-background-color);
    }

    span {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.8rem;
        cursor: pointer;
    }

    &.active {
        background-color: var(--white);
        color: var(--default-background-color);
    }
}

.item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    span {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.8rem;
    }
}

.toggle-btn {
    display: inline-block;
    font-size: 2rem;
    transition: transform 0.3s;
}

.open .toggle-btn {
    transform: rotate(90deg);
}

.child-list {
    height: 0;
    overflow: hidden;
    font-size: 1.6rem;
    transition: height 2s;
}

.open > .child-list {
    height: auto;
}

.child-item {
    display: block;
    padding: 8px;
    margin-top: 6px;
    border-radius: 5px;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--skyBlue-alpha-40);
    }

    span {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.8rem;
        cursor: pointer;
    }

    &.active {
        background-color: var(--white);
        color: var(--default-background-color);
    }
}

// email sidebar
.menu-item {
    position: relative;
    margin: 5px 0;
    padding-left: 15px;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 80%;
        border-radius: 5px;
        background-color: var(--default-background-color);
        transition: width 0.3s;
    }

    &:hover {
        background-color: var(--skyBlue-alpha-20);

        &::before {
            width: 4px;
        }
    }

    &.active {
        background-color: var(--skyBlue-alpha-20);
        color: var(--default-background-color);

        &::before {
            width: 4px;
        }
    }
}

.label-item {
    position: relative;
    margin: 5px 0;
    padding-left: 15px;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 80%;
        border-radius: 5px;
        background-color: var(--default-background-color);
        transition: width 0.3s;
    }

    &:hover {
        color: var(--default-background-color);
        background-color: var(--skyBlue-alpha-20);

        &::before {
            width: 4px;
        }
    }

    &.active {
        color: var(--default-background-color);
        background-color: var(--skyBlue-alpha-20);

        &::before {
            width: 4px;
        }
    }
}

// todo sidebar

.tags-item {
    position: relative;
    margin: 5px 0;
    padding-left: 15px;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 80%;
        border-radius: 5px;
        background-color: var(--default-background-color);
        transition: width 0.3s;
    }

    &:hover {
        color: var(--default-background-color);
        background-color: var(--skyBlue-alpha-20);

        &::before {
            width: 4px;
        }
    }

    &.active {
        color: var(--default-background-color);
        background-color: var(--skyBlue-alpha-20);

        &::before {
            width: 4px;
        }
    }
}
